@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
  <div class="col-lg-8 mx-auto">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h1 class="h3 mb-3">Síndrome de Burnout em Desenvolvedores de Software</h1>
        <p>Bem-vindo(a)! Este site coleta respostas anônimas para avaliar risco de burnout usando o MBI (Maslach Burnout Inventory) e, ao final, avalia a usabilidade do próprio site (SUS).</p>
        <ol>
            <li>Ler e aceitar o TCLE.</li>
            <li>Preencher dados sociodemográficos.</li>
            <li>Responder ao MBI em três abas.</li>
            <li>Responder ao SUS (10 itens).</li>
            <li>Ver o resultado imediato.</li>
        </ol>
        <a class="btn btn-primary btn-lg" href="/Consent">Participar da pesquisa</a>
      </div>
    </div>
  </div>
</div>
